{% extends 'base.html.twig' %}

{% block title %}PC{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



{% for pc in pcs %}
    <img src="{{ asset( 'images/' ~ pc.photo) }}" height="150"/><br>
    <br>
    {{ pc.brand }}<br>
    {{ pc.model }}<br>
    {{ pc.prix }} euro <br>

    <p>
        <a href="{{ path('pc_details', { id: pc.id }) }}">View</a>
    </p>
{% endfor %}

{% endblock %}
